# Configuration
#
# Replace the following placeholders with the correct values for
# your installation.
#
# <SEARCH_URL>: The URL for performing the search
# <QUERY_PARAMS>: Any HTTP query parameters that should be included in the search
# <HIPPO_SITE_URL>: The URL for the Hippo site

defaults: &defaults
  wskey: "<YOUR_WSKEY>"
  secret: "<YOUR_SECRET>"
  authenticatingInstitutionId: "<A_INSTITUTION_ID>"
  contextInstitutionId: "<YOUR_INSTITUTION_ID>"
  loaded_link: "<LOADED_LINK>"
  url_link: "<URL_LINK>"

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults